// include basic plasma stuffs
@require "../../node_modules/@com.mgmtp.a12/plasma-design/dist/stylus/plasma_mixins.styl"
@require "../../node_modules/@com.mgmtp.a12/plasma-design/dist/stylus/plasma_base.styl"

// your application-wide configurations: colors
@require "./project_app_color.styl"

// plasma configuration for widgets
@require "../../node_modules/@com.mgmtp.a12/plasma-design/dist/stylus/plasma_config.styl"

// your per-widget custom configuration
@require "./project_config.styl"

// requiring plasma components
@require "../../node_modules/@com.mgmtp.a12/plasma-design/dist/stylus/plasma_components.styl"

@require "./main.styl"
