// your custom configuration goes here. The values will override the values from plasma_configuration.styl
$a12_buttonPrimaryBG = #3385ff
$a12_inputFontSize = 1rem
$tinhtien_footer_color = $a12_appMainColor-l40
$a12_labelFirstLetterTextTransform = none