/* .list-item__graphic {
  width: 85px;
} */
.person-name,
.amount-expense,
.expense-name {
  font-weight: bold;
}
.person-name {
  color: red;
}
.amount-expense {
  color: blue;
}
.expense-name {
  color: green;
}
.btn-add-expense {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.wrapper {
  max-width: 800px;
  margin: auto;
}

#list-expense{
  overflow:scroll;
  height: calc(100% - 180px);
  width: 95%;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  #list-expense{
    height: calc(100% - 60px);
    width: 100%;
  }
}
